*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: #404040;
}

h2{
    font-size: 3rem;
}

#status{
    font-size: 2rem;
}

#gameTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    width: 1000px;
    height: 600px;
    border: 1px solid #a3a3a3;
    border-radius: 20px;
    background-color: #e2e8f0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#boardsWrapper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#boardAndName{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 322px;
    height: 322px;
    border: 1px solid #525252;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.square {
    width: 32px;
    height: 32px;
    border: 1px solid #525252;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.hit {
    background-image: url( './onTarget.svg' ) !important;
    background-size: 29px 29px !important;
}

div .square:hover {
    background-color: #f87171 !important;
}

#sideBar {
    display: flex;
    gap: 5px;
}

.sideShip {
    display: flex;
    border: 1px solid #404040;
}

.shipCell{
    width: 12px;
    height: 12px;
}

#restart{
    width: 150px;
    height: 45px;
    border: 0px;
    background-color: #38bdf8;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#restart:hover{
    background-color: #0ea5e9;
    cursor: pointer;
}
