*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameTable{
    display: flex;
    gap: 50px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 322px;
    height: 322px;
    border: 1px solid black;
}

.square {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    cursor: pointer;
}